<section class="mt-4">
    <div class="row">
        <div class="col-lg-2 border-end">
            <vc:dashboard-nav></vc:dashboard-nav>
        </div>

        <div class="col-lg-10">
            <vc:dashboard-header></vc:dashboard-header>
            <div class="container">
                <!-- main wrapper -->
                <section>
                    <div class="row mt-5">
                        <div class="col-12 mb-3">
                            <div class="py-12 px-8 rounded"
                                style="background: url('/img/freshly-baked-buns.jpg') no-repeat; background-size: cover">
                                <div>
                                    <h1>Welcome back! GreenBasket</h1>
                                    <p>GreenBasket is simple & clean design for developer and designer.</p>
                                    <a class="btn btn-dark rounded" href="#">Creat Product</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- table -->
                <section>
                    <div class="row my-4">
                        <div class="col-lg-4">
                            <div class="border rounded shadow">
                                <div class="card-body py-4 px-4">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="mb-0 fs-5">Earnings</h4>
                                        <div>
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-danger icon-wh">
                                                <i class="bi bi-currency-dollar fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h1 class="mb-2 fw-bold fs-2">$93,438.78</h1>
                                        <span>Monthly revenue</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="border rounded shadow">
                                <div class="card-body py-4 px-4">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="mb-0 fs-5">Orders</h4>
                                        <div>
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-warning icon-wh">
                                                <i class="bi bi-cart fs-4"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h1 class="mb-2 fw-bold fs-2">42,339</h1>
                                        <span>35+ New Sales</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="border rounded shadow">
                                <div class="card-body py-4 px-4">
                                    <div class="d-flex justify-content-between">
                                        <h4 class="mb-0 fs-5">Customer</h4>
                                        <div>
                                            <div
                                                class="d-flex justify-content-center align-items-center rounded-circle bg-info icon-wh">
                                                <i class="bi bi-people fs-4"></i>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="mt-4">
                                        <h1 class="mb-2 fw-bold fs-2">39,354</h1>
                                        <span>30+ new in 2 days</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="row mt-5">
                        <div class="col-lg-9">
                            <div class="border shadow rounded" style="height: 350px">Table</div>
                        </div>
                        <div class="col-lg-3">

                            <div class="border shadow rounded" style="height: 350px">List</div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>