<section class="mt-4">
    <div class="row">
        <div class="col-lg-3 border-end">
            <vc:dashboard-nav></vc:dashboard-nav>
        </div>

        <div class="col-lg-9">
            <vc:dashboard-header></vc:dashboard-header>
        </div>
    </div>
</section>