<div class="footer mt-6 pt-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-md-12 col-lg-4 mb-4">
                <h6 class="fw-bold mb-3">Categories</h6>
                <div class="row">
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Vegetables & Fruits</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Breakfast & instant food</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Bakery & Biscuits</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Atta, rice & dal</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Sauces &spreads</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Organic &gourmet</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Baby care</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Cleaning essentials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-muted" href="">Personal care</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Dairy, bread & eggs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Cold drinks & juices</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Tea, coffee & drinks</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Masala, oil & more</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Chicken, meat & fish</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Paan corner</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Pharma & wellness</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-muted" href="">Home & office</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link p-0 text-muted" href="">Pet care</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-3">
                        <h6 class="fw-bold mb-3">Get to know us</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Company</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">About</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Blog</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Help Center</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link p-0 text-muted">Our Value</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <h6 class="fw-bold mb-3">For Consumers</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Payments</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Shipping</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Product Returns</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">FAQ</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link p-0 text-muted">Shop Checkout</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <h6 class="fw-bold mb-3">Become a Shopper</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Shopper Opportunities</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Become a Shopper</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Earnings</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Ideas & Guides</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link p-0 text-muted">New Retailers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-3 col-lg-3">
                        <h6 class="fw-bold mb-3">Freshcart programs</h6>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Freshcart programs</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Gift Cards</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Promos & Coupons</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a href="" class="nav-link p-0 text-muted">Freshcart Ads</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link p-0 text-muted">Careers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-top py-4">
            <div class="row text-center align-items-center">
                <div class=" col-12 col-lg-5 text-lg-start">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            Payment Partners
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/amazonpay.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/american-express.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/mastercard.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/paypal.svg" alt="">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/visa.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-7 text-lg-end">
                    <ul class="list-inline">
                        <li class="list-inline-item">Get deliveries with FreshCart</li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/appstore-btn.svg" alt="" style="width: 140px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link p-0" href="">
                                <img src="~/img/pay/googleplay-btn.svg" alt="" style="width: 140px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="border-top py-4">
            <div class="row text-center align-items-center">
                <div class="col-12 col-lg-9 text-lg-start">
                    <span class="small text-muted">© 2022 - 2024 FreshCart eCommerce HTML Template. All rights
                        reserved. Powered by <a href="#" class="text-decoration-none text-muted">Codescandy</a>.</span>
                </div>
                <div class="col-12 col-lg-3 text-lg-end">
                    <ul class="list-inline">
                        <li class="list-inline-item text-muted">
                            Follow us on
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-sm btn-social rounded"><i class="bi bi-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-sm btn-social rounded"><i class="fa-brands fa-x-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="" class="btn btn-sm btn-social rounded"><i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>