<div class="container">
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                <i class="bi bi-cart-check"></i>
                <span class=" text-dark fw-bold mb-3 display-7">GreenBasket</span>
            </a>
            <form class="d-flex d-none d-lg-block custom-form-width" action="" role="search">
                <input type="search" class="form-control rounded" placeholder="Search for products">
            </form>
        </div>
        <div class="d-flex align-items-center">
            <div class="list-inline-item">
                <a class="text-decoration-none text-dark me-3" href="">
                    <i class="bi bi-cart p-1"></i>
                    $0.00
                    <i class="bi bi-chevron-down"></i>
                </a>
            </div>
            <div class="list-inline-item me-3">
                <a class="text-decoration-none text-dark me-3 d-none d-lg-block" href="/">Register</a>
            </div>
            <div class="list-inline-item">
                <button class="btn btn-dark rounded d-none d-lg-block" href="/">Sign In</button>
            </div>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-list"></i>
            </button>

        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg pt-4">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav m-2">
                <li class="nav-item dropdown me-3">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="#" class="btn btn-green rounded nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="bi bi-list-nested p-3"></i>All Categories
                    </a>
                    <div class="dropdown-menu rounded">
                        @foreach (var list in Model.Categories)
                        {
                            <a asp-controller="Categories" asp-action="List" asp-route-id="@list.CategoryId"
                                class="dropdown-item">@list.CategoryName</a>
                        }
                    </div>
                </li>
                <li class="nav-item dropdown me-3">
                    <a href="#" class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown">Home</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Page 1</a>
                        <a class="dropdown-item" href="#">Page 2</a>
                        <a class="dropdown-item" href="#">Page 3</a>
                        <a class="dropdown-item" href="#">Page 4</a>
                    </div>
                </li>
                <li class="nav-item me-3">
                    <a href="" class="nav-link text-dark">Page 3</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link text-dark">Page 4</a>
                </li>
            </ul>
        </div>
    </div>
</nav>