<header>
    <div class="d-flex justify-content-between">
        <form class="w-25" action="" role="search">
            <input type="search" class="form-control rounded" placeholder="Search">
        </form>
        <div class="d-flex">
            <button type="button" class="btn position-relative">
                <i class="bi bi-bell"></i>
                <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top:15px">
                    3
                </span>
            </button>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-bounding-box"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </div>
    </div>
</header>