*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.bi-cart-check{
  color: #1B1;
  font-size: 30px;
}

a:hover{
  color: #1b1!important;
}

.display-7{
  font-size: 25px;
}

.bi-list{
  font-size: 22px;
}

.form-control {
  padding: 8px 16px;
}

.custom-form-width {
  width: 450px;
}

@media (min-width: 1400px) {
  .custom-form-width {
      width: 550px;
  }
}

.form-control:focus {
  padding: 8px 16px;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem #c4f6c4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.dropdown-menu{
  padding: 8px 10px;
}
.dropdown-item{
  padding: 5px 10px;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #1e2125;
  background-color: #e9ecef;
  padding: 5px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dropdown-item:active {
  color: #fff !important;
  text-decoration: none;
  background-color: #1b1;
}

#carouselExampleIndicators1 .carousel-inner{
  height: 550px;
}

.btn:hover{
  color: #fff !important;
}

.btn-dark{
  padding: 8px 16px;
}

.btn-green {
  color: #fff !important;
  background-color: #1b1 !important;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.btn-green:hover {
  color: #fff !important;
  background-color: rgb(14, 142, 14) !important;
}

.btn-success{
  padding: 10px 20px;
}

.btn-success:hover{
  color: #fff !important;
  padding: 10px 20px;
}

.card{
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.card:hover{
  border: 1px solid #1b1;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1),
              -2px 2px 8px rgba(0, 0, 0, 0.1);
}

.my-10{
  margin: 6rem 0;
}

.mb-10{
  margin-bottom: 6rem;
}

.py-2-5{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-9{
  padding-top: 25px;
}

.py-10{
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-12{
  padding-top: 72px;
  padding-bottom: 72px;
}

.px-8{
  padding-left: 32px;
  padding-right: 32px;
}

.icon-wh{
  width: 40px;
  height: 40px;
}

.rounded{
  border-radius: 8px!important;
  -webkit-border-radius: 8px!important;
  -moz-border-radius: 8px!important;
  -ms-border-radius: 8px!important;
  -o-border-radius: 8px!important;
}

@media (min-width: 1400px) {
  .col-xxl-20 {
      flex: 0 0 auto;
      max-width: 20%;
  }
}

.card-width{
  height: 473.3px;
}

.timer-card {
  display: flex;
  flex-direction: column;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-social {
  border:1px solid grey;
}

.footer{
  background-color: #F0F3F2;
}

.list-inline{
  margin: 0;
}

.bg-light{
  background-color: #F0F3F2!important;
}

.w-80{
width: 80%;
}

.form-check-input:checked {
  background-color: rgb(14, 142, 14);
  border-color: rgb(14, 142, 14);
}

.form-check-label{
  color: #5C6C75;
}

.form-select {  
  padding: 10px 40px 10px 15px;
}

.form-select:focus {  
  padding: 10px 40px 10px 15px;
  border-color: rgb(14, 142, 14);
  box-shadow: 0 0 0 0.25rem #c4f6c4;
}

.form-status-select {
  padding: 10px 75px 10px 15px;
}

.form-status-select:focus {
  padding: 10px 75px 10px 15px;
}


.page-item{
  padding: 5px;
}

.page-link{
  padding: 8px 16px;
  color:gray;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.page-link:focus{
  color: #fff;
  background-color:rgb(17, 174, 17);
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem #c4f6c4;
}

.page-link:hover{
  color: #fff!important;
  background-color:#1b1
}
  
.nav-lb-tab .nav-item .nav-link{
  border-radius:0;
  color: gray;
  margin-bottom: -1px;
  padding:16px 0;
}

.nav-lb-tab .nav-item .nav-link.active, 
.nav-lb-tab .nav-item .nav-link:hover{
  background-color:transparent !important;
  border-bottom:2px solid #1b1 !important;
  color: #1b1 !important;;
}

/*.nav-lb-pills{
color: #1e2125;
margin-bottom: 5px;
}

.nav-lb-pills.active, 
.nav-lb-pills:hover{
  color: #fff !important;
  background-color: #001E2B !important;
}*/

.table td {
  vertical-align: middle;
}

.nav-drk-pills .nav-link {
  font-size: 15px;
  color: #5c6c75;
  background: none;
  border: 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.nav-drk-pills .nav-link:hover {
  color: #f4eded !important;
  background-color: #96a49b;
}

.nav-drk-pills .nav-item .nav-link.active,
.nav-drk-pills .nav-item .show > .nav-link {
  color: #fff !important;
  background-color: #001E2B !important;
}

.nav-label{
  color: gray;
  margin-left: 12.5px;
}

.bi-bell{
  font-size: 20px;
}

.bi-person-bounding-box{
  font-size: 25px;
}

.dropdown-toggle::after {
  display: none;
}

.bi-currency-dollar{
  font-size: 20px;
}

.container-fluid{
  width: 97%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}