@model HomeViewModel

<section class="my-5">
    <div class="my-5">
        <div class="row">
            <div class="d-flex align-items-start">
                <div class="col-lg-3 border-end pe-5">
                    <vc:user-nav></vc:user-nav>
                </div>
                <div class="col-lg-9 ps-5">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="mb-5">
                            <h5 class="fw-bold">Your Orders</h5>
                        </div>
                        <div>
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Order</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Items</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var prd in Model.Products)
                                    {
                                        if (@prd.ProductId <= 7)
                                        {
                                            <tr>
                                                <td><img src="~/img/products/@prd.ProductImage" alt="" style="width: 50px;">
                                                </td>
                                                <td>@prd.ProductName</td>
                                                <td>#14899</td>
                                                <td>March 5, 2023</td>
                                                <td>1</td>
                                                <td>Completed</td>
                                                <td>$@prd.ProductPrice</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
