@model HomeViewModel

<section class="my-5">
    <div class="my-5">
        <div class="row">
            <div class="d-flex align-items-start">
                <div class="col-lg-3 border-end pe-5">
                    <vc:user-nav></vc:user-nav>
                </div>
                <div class="col-lg-9 ps-5">
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="fw-bold">Payment Methods</h5>
                        <a href="#" class="btn btn-outline-success rounded">Add Payment</a>
                    </div>
                    <div class="my-4">
                        <ul class="list-group list-group-flush">
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/visa1.svg" alt="" />
                                        <!-- text -->
                                        <div class="ms-4">
                                            <h5 class="mb-0 h6">**** 1234</h5>
                                            <p class="mb-0 small">Expires in 10/2023</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- button -->
                                        <a href="#" class="btn btn-outline-secondary disabled btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/mastercard1.svg" alt="" class="me-3" />
                                        <div>
                                            <h5 class="mb-0 h6">Mastercard ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 03/2026</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- button-->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/discover.svg" alt="" class="me-3" />
                                        <div>
                                            <!-- text -->
                                            <h5 class="mb-0 h6">Discover ending in 1234</h5>
                                            <p class="mb-0 small">
                                                Expires in 07/2020
                                                <span class="badge bg-warning text-dark">This card is
                                                    expired.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/americanexpress.svg" alt="" class="me-3" />
                                        <!-- text -->
                                        <div>
                                            <h5 class="mb-0 h6">American Express ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 12/2021</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3 border-bottom">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/paypal1.svg" alt="" class="me-3" />
                                        <div>
                                            <!-- text -->
                                            <h5 class="mb-0 h6">Paypal Express ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 10/2021</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
