@model HomeViewModel

<section class="my-5">
    <div class="my-5">
        <div class="row">
            <div class="d-flex align-items-start">
                <div class="col-lg-3 border-end pe-5">
                    <vc:user-nav></vc:user-nav>
                </div>
                <div class="col-lg-9 ps-5">
                    <div class="d-flex justify-content-between mb-4">
                        <h5 class="fw-bold">Payment Methods</h5>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-success rounded" data-bs-toggle="modal"
                            data-bs-target="#payment">
                            Add Payment
                        </button>
                    </div>
                    <div class="my-4">
                        <ul class="list-group list-group-flush">
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/visa1.svg" alt="" />
                                        <!-- text -->
                                        <div class="ms-4">
                                            <h5 class="mb-0 h6">**** 1234</h5>
                                            <p class="mb-0 small">Expires in 10/2023</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- button -->
                                        <a href="#" class="btn btn-outline-secondary disabled btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/mastercard1.svg" alt="" class="me-3" />
                                        <div>
                                            <h5 class="mb-0 h6">Mastercard ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 03/2026</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- button-->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/discover.svg" alt="" class="me-3" />
                                        <div>
                                            <!-- text -->
                                            <h5 class="mb-0 h6">Discover ending in 1234</h5>
                                            <p class="mb-0 small">
                                                Expires in 07/2020
                                                <span class="badge bg-warning text-dark">This card is
                                                    expired.</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/americanexpress.svg" alt="" class="me-3" />
                                        <!-- text -->
                                        <div>
                                            <h5 class="mb-0 h6">American Express ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 12/2021</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                            <!-- List group item -->
                            <li class="list-group-item px-0 py-3 border-bottom">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex">
                                        <!-- img -->
                                        <img src="~/img/pay/paypal1.svg" alt="" class="me-3" />
                                        <div>
                                            <!-- text -->
                                            <h5 class="mb-0 h6">Paypal Express ending in 1234</h5>
                                            <p class="mb-0 small">Expires in 10/2021</p>
                                        </div>
                                    </div>
                                    <div>
                                        <!-- btn -->
                                        <a href="#" class="btn btn-outline-secondary text-muted btn-sm">Remove</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>


<!-- Modal -->
<div class="modal fade" id="payment" tabindex="-1" aria-labelledby="addressModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addressModal">Add New Payment Method</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <h1 class="modal-title fs-5 my-2">Credit / Debit card</h1>
                            <div class="mb-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="card" id="amerikanExpress"
                                        value="amerikanExpress">
                                    <label class="form-check-label" for="amerikanExpress">
                                        <img src="~/img/pay/american-express.svg" alt="">
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="card" id="masterCard"
                                        value="masterCard">
                                    <label class="form-check-label" for="masterCard">
                                        <img src="~/img/pay/mastercard.svg" alt="">
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="card" id="visa" value="visa">
                                    <label class="form-check-label" for="visa">
                                        <img src="~/img/pay/visa.svg" alt="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <label for="name" class="form-label">Name on card</label>
                            <input type="text" class="form-control rounded" id="name" placeholder="Name">
                        </div>
                        <div class="col">
                            <label for="month" class="form-label">Month</label>
                            <select class="form-select form-select-sm rounded" aria-label="Default select example">
                                <option selected>Month</option>
                                <option value="1">Ocak</option>
                                <option value="2">Şubat</option>
                                <option value="3">Mart</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="month" class="form-label">Year</label>
                            <select class="form-select form-select-sm rounded" aria-label="Default select example">
                                <option selected>Year</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-8">
                            <label for="cardNumber" class="form-label">Card Number</label>
                            <input type="text" class="form-control rounded" id="cardNumber">
                        </div>
                        <div class="col-md-4">
                            <label for="cvv" class="form-label">CVV Code</label>
                            <input type="text" class="form-control rounded" id="cvv">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-outline-secondary rounded" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-green rounded">Add New Card</button>
            </div>
            <div>
                <h1 class="fs-5 ms-3 mb-3">Note: that you can later remove your card at the account setting page.</h1>
            </div>
        </div>
    </div>
</div>